<div class="component-container mat-elevation-z8">
  <div class="component-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/tipo-servicos']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="component-card">
    <form [formGroup]="tipoServicosForm" (ngSubmit)="onFormSubmit(tipoServicosForm.value)">
      <mat-form-field class="component-full-width">
        <input matInput placeholder="TipoServicos Name" formControlName="nome"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!tipoServicosForm.get('nome').valid && tipoServicosForm.get('nome').touched">Please enter Nome</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!tipoServicosForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>