<!--div>
  <h1>
    Alterar Categorias
  </h1>
  <div>
    <label>Id:</label>
    <input [(ngModel)]="categoria.id" placeholder="Id" />
    <label>Nome:</label>
    <input [(ngModel)]="categoria.nome" placeholder="Nome"/>
    <label>Descricao:</label>
    <input [(ngModel)]="categoria.descricao" placeholder="Descricao"/>
  </div>
  <button (click)="updateCategoria()">Alterar</button>
</div-->
<div class="component-container mat-elevation-z8">
    <div class="component-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" (click)="categoriaDetails()"><mat-icon>info</mat-icon></a>
    </div>
    <mat-card class="component-card">
      <form [formGroup]="categoriaForm" (ngSubmit)="onFormSubmit(categoriaForm.value)">
        <mat-form-field class="component-full-width">
          <input matInput placeholder="Nome" formControlName="nome"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!categoriaForm.get('nome').valid && categoriaForm.get('nome').touched">Please enter Product Name</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!categoriaForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
        </div>
      </form>
    </mat-card>
  </div>